body {
    margin: 0;
}

.container {
    max-width: 960px;
}

#overlay {
    background: rgba(0,0,0,0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
}

#add-form-wrapper {
    top: 60px;
    left: 0;
    right: 0;
    width: 980px;
    position: absolute;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto;
}

#add-form {
    width: 960px;
    height: 550px;
    margin: auto;
}